name: Android构建

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: 设置Android SDK
      uses: android-actions/setup-android@v3
    
    - name: 构建
      run: |
        chmod +x gradlew || true
        ./gradlew clean assembleDebug --stacktrace
    
    - uses: actions/upload-artifact@v4
      with:
        name: apk-artifacts
        path: app/build/outputs/apk/debug/*.apk
